

    <div class="row">
      
        <div class="col-sm-5">
            <h2>Join A Project</h2>
            <form method="post" action="/Join">
                ID: <input type="text" name="ID"><br>
                <input type="submit">
            </form>
        </div>
      
        <div class="col-sm-2" style="text-align:center">
            OR
        </div>
      
        <div class="col-sm-5">
            <h2>Create A Project</h2>
            <form method="post" action="/create">
                ID: <input type="text" name="ID"><br>
                Title
                   <input type="text" name="title"><br>
              
                Description: <br><textarea name="description"></textarea>
              
              
                <input type="submit">
            </form>
        </div>
    </div>


